<h1 mat-dialog-title>Save ISS Location</h1>
<div mat-dialog-content>
  <p>Choose Location Name</p>
  <div>
    <mat-label style="margin-right: 5px">Name</mat-label>
    <input matInput [(ngModel)]="name">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="">No Thanks</button>
  <button [disabled]="!name || name?.length === 0" mat-button [mat-dialog-close]="name" cdkFocusInitial>Ok</button>
</div>
