<div class="search-container">
  <div class="searchBox">
    <input type="text" (input)="searchInputChange$.next(query)" [(ngModel)]="query">
    <button class="searchButton" (click)="searchInputChange$.next(query)">
      <i class="material-icons">
        search
      </i>
    </button>
  </div>
</div>
