.searchBox {
  background: #2f3640;
  height: 4rem;
  border-radius: 7px;
  padding: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  input {
    margin-right: 5px;
    border-radius: 4px;
  }
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;

}

.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  border-radius: 7px;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  padding: 0 6px;
  color: white;
  font-size: 16px;
  transition: 0.2s;
  line-height: 20px;
  width: 14rem;
  word-wrap: break-word;
  overflow: hidden;
  flex: auto;

}
