.container{
    width:100%;
    display: flex;
}
.container > * {
    flex: 1 100%;
  }
.main{
    flex: 2 75%;
}
.info{
    flex: 25% !important;
    margin: 0 1rem;
    border-radius: 10px;
    border-style: groove;
}
