.location {
  border-radius: 20px;
  border: #2f3640 solid;
  background: lightyellow;
  &_key
  {
    font-weight: bold;
    font-size: 13px;
  }
  &_value
  {
    font-style: italic;
    font-size: 13px;
  }
  ul {
    list-style: none;
    li {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
dl {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 15px;
}
