<div class="location" *ngIf="location">
  <dl>
    <dt><span class="location_key">{{location?.name}}</span></dt>
  </dl>
  <dl>
    <dt><span class="location_key">Longitude:</span></dt>
    <dd><span class="location_value">{{location?.lon}}</span></dd>
  </dl>
  <dl>
    <dt><span class="location_key">Latitude:</span></dt>
    <dd><span class="location_value">{{location?.lat}}</span></dd>
  </dl>
  <dl>
    <dt><span class="location_key">Date:</span></dt>
    <dd><span class="location_value">{{location?.date | date: FORMAT_DATE_TIME}}</span></dd>

  </dl>
</div>
