<div class="header">
  <h1>Current location: </h1>
  <div>
    <div>
      <span>Lat:</span>
      <span>{{lastKnownLocation?.lat}}</span>
      <span>Lon:</span>
      <span>{{lastKnownLocation?.lon}}</span>
    </div>
    <div>
      <span>Time:</span>
      <span>{{lastKnownLocation?.date | date: FORMAT_DATE_TIME}}</span>
    </div>
  </div>
</div>

<mat-tab-group animationDuration="0" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Map">
    <ng-template matTabContent>
      <div id="map" style="width:100%;height:600px"></div>
      <div class="mdc-touch-target-wrapper">
        <button class="mdc-fab mdc-fab--mini mdc-fab--touch" (click)="openDialog()">
          <div class="mdc-fab__ripple"></div>
          <span class="material-icons mdc-fab__icon">add</span>
          <div class="mdc-fab__touch"></div>
        </button>
      </div>
      <div class="iss-img">
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Report">
    <ng-template matTabContent>
      <table mat-table [dataSource]="locations" class="mat-elevation-z8">
        <!-- Position Name -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Longitude Column -->
        <ng-container matColumnDef="longitude">
          <th mat-header-cell *matHeaderCellDef> Longitude </th>
          <td mat-cell *matCellDef="let element"> {{element.lon}} </td>
        </ng-container>

        <!-- Latitude Column -->
        <ng-container matColumnDef="latitude">
          <th mat-header-cell *matHeaderCellDef> Latitude </th>
          <td mat-cell *matCellDef="let element"> {{element.lat}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date | date: FORMAT_DATE_TIME}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-template>
  </mat-tab>
</mat-tab-group>
