ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 28rem;
    overflow: auto
  }

  ul li {
    margin-top: -1px; /* Prevent double borders */
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
    cursor: pointer;
  }

  ul li:hover {
    background-color: #eee;
    border-radius: 20px;
  }

  .close {
    cursor: pointer;
    position: absolute;
    top: 22%;
    border-radius: 50%;
    right: 7%;
    padding: 2px 6px;
    transform: translate(0%, -30%);
  }

  .close:hover {background: #bbb;}

  p{
    font-size: 1.8rem;
    margin: 1rem;
  }

  .selected{
    background-color: #ddd !important;
    border-radius: 20px;
  }
