<p>Saved locations</p>
<ul *ngIf="locations$">
  <li *ngFor="let location of (locations$ | async)" [class.selected]="location && selectedLocation && location.name &&  location.name === selectedLocation.name">
    <app-location [location]="location" (click)="flyTolocation(location)"></app-location>
    <span class="close" (click)="removeLocation(location)">&times;</span></li>
</ul>
